capmetro.org - design is broken

<!-- @browser: Firefox 56.0 -->
<!-- @ua_header: Mozilla/5.0 (X11; Fedora; Linux x86_64; rv:56.0) Gecko/20100101 Firefox/56.0 -->
<!-- @reported_with: web -->

**URL**: https://capmetro.org/

**Browser / Version**: Firefox 56.0
**Operating System**: Fedora
**Tested Another Browser**: Yes

**Problem type**: Design is broken
**Description**: Scripts do not run and CSS does not get rendered.
**Steps to Reproduce**:
I visited the homepage.
[![Screenshot Description](https://webcompat.com/uploads/2017/10/a9209dd5-2c40-4a59-aec9-155228965d04-thumb.jpg)](https://webcompat.com/uploads/2017/10/a9209dd5-2c40-4a59-aec9-155228965d04.jpg)



_From [webcompat.com](https://webcompat.com/) with ❤️_

@YoRyan, I'm not able to connect to this URL. Is it still up for you?

Very much so; it's a government website. If you can't connect to it directly, try a North American VPN.

```
→ ping capmetro.org
PING capmetro.org (104.254.144.209): 56 data bytes
Request timeout for icmp_seq 0
Request timeout for icmp_seq 1
Request timeout for icmp_seq 2
Request timeout for icmp_seq 3
Request timeout for icmp_seq 4
Request timeout for icmp_seq 5
Request timeout for icmp_seq 6
^C
--- capmetro.org ping statistics ---
8 packets transmitted, 0 packets received, 100.0% packet loss
```

ahaha
https://en.wikipedia.org/wiki/Capital_Metropolitan_Transportation_Authority

This seems to be Austin Public Transit. @miketaylr do you need a special resident visa for accessing this :)

Their server isn't responding to pings, but HTTP is working just fine.
`$ curl -s -D - -o /dev/null 'https://capmetro.org/'
HTTP/1.1 200 OK
Content-Type: text/html; charset=utf-8
Server: Microsoft-IIS/8.0
X-AspNet-Version: 4.0.30319
Set-Cookie: EktGUID=4276ab10-c660-4045-a204-bedb61c77c33; expires=Wed, 31-Oct-2018 06:44:07 GMT; path=/; HttpOnly
Set-Cookie: EkAnalytics=0; expires=Wed, 31-Oct-2018 06:44:07 GMT; path=/; HttpOnly
Set-Cookie: ASP.NET_SessionId=gtc20gc0uippub0nijgy1qva; path=/; HttpOnly
Set-Cookie: ecm=user_id=0&isMembershipUser=0&site_id=&username=&new_site=/&unique_id=0&site_preview=0&langvalue=0&DefaultLanguage=1033&NavLanguage=1033&LastValidLanguageID=1033&DefaultCurrency=840&SiteCurrency=840&ContType=&UserCulture=1033&dm=capmetro.org&SiteLanguage=1033; path=/; secure; HttpOnly
X-Powered-By: ASP.NET
Access-Control-Allow-Origin: *
X-Content-Type-Options: nosniff
X-XSS-Protection: 1;mode=block
Content-Security-Policy: default-src �self�;
Date: Tue, 31 Oct 2017 06:44:08 GMT
Set-Cookie: citrix_ns_id=NQcsdJAKnsEecOTeup1B8X5vTpcA000; Domain=.capmetro.org; Path=/; HttpOnly
X-Expires-Orig: None
X-Cache-Control-Orig: private
Cache-Control: max-age=0, must-revalidate, private
Transfer-Encoding: chunked`

@YoRyan It doesn't for @MDTsai (Taiwan) and me (Japan). :)

with httpie

```
http GET https://capmetro.org/

http: error: Request timed out (30s).
```

with curl

```
→ curl -s -D - -o /dev/null 'https://capmetro.org/'
```

with Firefox. 




[![Screenshot Description](https://webcompat.com/uploads/2017/10/b5be3953-9065-47a9-8c68-0763b425e300-thumb.jpg)](https://webcompat.com/uploads/2017/10/b5be3953-9065-47a9-8c68-0763b425e300.jpg)

I was asking @miketaylr because he is living in Austin :)

I can reproduce... the console is lit up with CSP errors. 

In Chrome DevTools there is the following error message:

`The value for Content Security Policy directive 'default-src' contains an invalid character: 'self'. Non-whitespace characters outside ASCII 0x21-0x7E must be percent-encoded, as described in RFC 3986, section 2.1: http://tools.ietf.org/html/rfc3986#section-2.1`

We have the following:

`Content Security Policy: Couldn’t parse invalid host self`

Seems like Firefox rejects all the scripts and CSS but Chrome is OK with it?

`Content-Security-Policy: default-src �self�;` is obviously wrong here. :)

It seems like Firefox is treating bogus `default-src` as `'none'`:

`Content Security Policy: The page’s settings blocked the loading of a resource at self (“default-src 'none'”). Source: ;!function(){var t=0,e=function(t,e){ret....`

@mozfreddyb @mikewest what is expected behavior here?

Yeah, Chrome punts on invalid characters, discarding the directive entirely. It's probably a better idea to ignore the token; that's more consistent with the parsing algorithm in https://w3c.github.io/webappsec-csp/#parse-serialized-policy.

Would you mind filing a bug against Chrome? @andypaicu will be thrilled beyond words to fix it. :)

> Would you mind filing a bug against Chrome? @andypaicu will be thrilled beyond words to fix it. :)

Sure thing. Thanks!

It's amazing and I can't access the site from Japan still. :)

@miketaylr @mikewest I opened https://bugs.chromium.org/p/chromium/issues/detail?id=781653

@miketaylr should we open a bug on Firefox too. 

Thanks for filing that bug @karlcow.



