kaplan.com - reCAPTCHA is not available

<!-- @browser: Firefox Mobile 90.0 -->
<!-- @ua_header: Mozilla/5.0 (Android 10; Mobile; rv:90.0) Gecko/90.0 Firefox/90.0 -->
<!-- @reported_with: unknown -->

**URL**: https://kaplan.com/contact-us/

**Browser / Version**: Firefox Mobile 90.0
**Operating System**: Android 10
**Tested Another Browser**: Yes Chrome

**Problem type**: Site is not usable
**Description**: Problems with Captcha
**Steps to Reproduce**:
"Could not connect to the reCAPTCHA service." on the Contact Form. Simply click the Contact Form button as shown on the page.
<details>
      <summary>View the screenshot</summary>
      <img alt="Screenshot" src="https://webcompat.com/uploads/2021/6/e4f2feed-0adb-4517-9d86-c45e61ae05e3.jpeg">
      </details>

<details>
<summary>Browser Configuration</summary>
<ul>
  <li>None</li>
</ul>
</details>

_From [webcompat.com](https://webcompat.com/) with ❤️_

@reinhart1010 We appreciate your report. I was able to reproduce the issue. The "CAPTCHA" process does not load as expected when trying to submit a form:
![Screenshot_24](https://user-images.githubusercontent.com/75027050/123277159-873b4900-d50e-11eb-9a41-448d3e072768.png)



Tested with:
Browser / Version:  Firefox Nightly 91.0a1 (2015818075 -🦎91.0a1-20210623095324🦎)/ Chrome Mobile Version 91.0.4472.101 /Firefox Beta 90.0.0-beta.5 ( 2015817931 🦎90.0-20210622185930🦎)
Operating System: Samsung A51 (Android 11) -1080 × 2400 pixels 20:9 aspect ratio (~405 ppi density)





**Notes:**
1. Reproducible regardless of the status of ETP
2. Reproducible on the latest build of Firefox Nightly
3. Works as expected using Chrome:
![Screenshot_23](https://user-images.githubusercontent.com/75027050/123277147-84405880-d50e-11eb-8ad9-588986b8a3e5.png)
4. With ETP set to STANDARD, the page is stuck in a "Submitting..." state






Moving this to NeedsDiagnosis for further investigations.

Recaptcha gets eaten by CSPs here,

> Content Security Policy: The page’s settings blocked the loading of a resource at https://www.google.com/recaptcha/api2/anchor

Their `content-security-policy` header is

```
default-src â��self;
*.myworkdayjobs.com *formstack.com *optimizely.com *crazyegg.com *fullstory.com;
script-src 'unsafe-inline' 'unsafe-eval' http:;
style-src 'unsafe-inline' http:;
img-src http: data:;
font-src http: data:;
```

and that's certainly interesting. Not only is there a series of broken characters (`0xC3 0xA2 0xEF 0xBF 0xBD 0xEF 0xBF 0xBD`, which itself is interesting: `0xEFBFBD` is the character replacement character, and `0xC3A2` is just gibberish here), it's also missing the directive name for the second block, and it diesn't even include the recaptcha script here. Chrome complains,

> /contact-us/:1 The value for the Content-Security-Policy directive 'default-src' contains one or more invalid characters. In a source expression, non-whitespace characters outside ASCII 0x21-0x7E must be Punycode-encoded, as described in RFC 3492 (https://tools.ietf.org/html/rfc3492), if part of the hostname and percent-encoded, as described in RFC 3986, section 2.1 (http://tools.ietf.org/html/rfc3986#section-2.1), if part of the path.

and appears to drop the policy. Firefox doesn't yet just disregard partially-invalid CSPs (see https://bugzilla.mozilla.org/show_bug.cgi?id=1570722), so we block the reCaptcha script as we should. I'll close this issue as a duplicate of said Bugzilla bug, but I'll also let them know that their CSP is borked.

eMail sent.